INSERT INTO documentacion (ID_EQUIPO, ID_SEGURO, FECHA_VENC_POLIZA, LINK_POLIZA_SEGURO, POLIZA_FECHA_SUBIDA, POLIZA_SUBIDO_POR) 
SELECT e.ID_EQUIPO, v.ID_SEGURO, v.FECHA_VENC_POLIZA, v.LINK_POLIZA_SEGURO, v.POLIZA_FECHA_SUBIDA, v.POLIZA_SUBIDO_POR 
FROM equipos e INNER JOIN (
    SELECT 'CHSP25YAHS1055078' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/1PTj3XzgX3Q1jHbV5p8uHxvvUqU7uWSgh?v=1775782371' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CHSP45YAAS1003165' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/1fvgeTOx69o0ONn081qviKluxo7hGbxu9?v=1775782379' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CLW009LFASW001684' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/1YZ78p7XHhMUn3LH6Jmlu8xX_tNOZe8cB?v=1775782362' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CLW009LFJSW001695' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/1m7uZgB4rRs_8J_umfsEQFBhYwIBjbsAS?v=1775782361' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CLW009LFCSW001696' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/13SXYs7jfhi84kDbAWlDolSpAvQCuVBvm?v=1775782357' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CLW009LFVSW001697' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/1Ur6Ilpt9JX23oBB5kaCqJDm8wS0u4u_p?v=1775782365' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CHSP25YATS1055053' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/1u29IhSNiQInDdDZUMamjULlSEhjV8KK3?v=1775782372' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CHSP25YAAS1055059' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/1FWAumU3A_K5F_KKzacJ-bsfTJuerpOso?v=1775782378' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CHSP25YACS1055060' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/11DPhFDZnyWTHtAJAUu0OuT71TccA3NMm?v=1775782376' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CHSP45YACS1003163' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/1aHYju3UzJP2TI8vcETBB6yXjy5X0s-1-?v=1775782374' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CHSP45YAJS1003159' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/1lU4obH4rYlhGtz1Lv7xXLWnFGsvgF4E6?v=1775782380' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CHSP45YALS1003166' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/1UXuG--wqTgaEHFde6un8uCfgzA6LZxhY?v=1775782375' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CLW009LFCSW001682' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/19eypWqMOEfZlyAoiHUGv4Pnsd5n4WAk-?v=1775782369' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CLW009LFHSW001686' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/1lySMXnAfxJjKWA7T6j8Uvk1GBm5eadmk?v=1775782359' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CLW009LFASW001698' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/1Nhn4ozef0H5rjbqrwcuWbuXjQkFf1byG?v=1775782363' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CLW009LFLSW001685' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/1lS04J6_CfvIRMP1PcUerug-ff8PR1LN0?v=1775782370' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CLW009LFKSW001713' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/1gFBExSB-Era2VJhkivfjz03XLI7mxyvs?v=1775782367' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
    UNION ALL
    SELECT 'CLW009LFVSW001683' AS serial_buscado, 3 AS ID_SEGURO, '2027-04-08' AS FECHA_VENC_POLIZA, '/storage/google/14PVatpBxUK1AMGnR63C6Q_vXxu4fH3Uc?v=1775782366' AS LINK_POLIZA_SEGURO, NOW() AS POLIZA_FECHA_SUBIDA, 1 AS POLIZA_SUBIDO_POR
) AS v ON e.SERIAL_CHASIS = v.serial_buscado
ON DUPLICATE KEY UPDATE 
    ID_SEGURO = VALUES(ID_SEGURO),
    FECHA_VENC_POLIZA = VALUES(FECHA_VENC_POLIZA),
    LINK_POLIZA_SEGURO = VALUES(LINK_POLIZA_SEGURO),
    POLIZA_FECHA_SUBIDA = VALUES(POLIZA_FECHA_SUBIDA),
    POLIZA_SUBIDO_POR = VALUES(POLIZA_SUBIDO_POR);
